<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <div class="all-things">
                    <% items.forEach(item=> { %>
                        <li class="indexes"><a href="/special-items/<%=item._id; %>">
                                <%= item.name; %>
                            </a></li>
                        <% }) %>
                </div>
            </div>
        </div>

</body>

</html>