<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <section>
                    <h3><%=quest.name %></h3>
                    <p>
                        Location: <%= quest.location %>
                    </p>
                    <p>
                        <%= quest.description %>
                    </p>
                    <div class="btn-group">
                        <button class="btn"><a href="/quests/<%= quest._id %>/edit">Edit Quest</a></button>
                        <button class="btn"><a href="/quests">Back</a></button>
                    </div>
                </section>
            </div>
        </div>

</body>

</html>