<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <div class="all-things">
                    <% npcs.forEach(npc=> { %>
                        <li class="indexes"><a href="/npcs/<%=npc._id; %>">
                                <%=npc.name; %>
                            </a></li>
                        <% }) %>
                </div>
            </div>
        </div>

</body>

</html>