<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <div class="new-form">
                    <form action="/maps/<%= map._id %>?_method=PUT" method="POST">
                        <label>Image URL: </label><input type="text" name="img" value="<%= map.img %>" />
                        <label>Location Name: </label><input type="text" name="location" value="<%= map.location %>" />
                        <label>Description: </label><textarea name="description" cols="30" rows="10"><%= map.description %></textarea><br />
                        <input class="btn" type="submit" value="Update Map" />
                    </form>
                </div>
            </div>
        </div>

</body>

</html>