<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
<%- include("../partials/styles.ejs") %>

<div class="full-page">
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <div class="shell">
        <section>
            <img src=<%= map.img %>
            <p><%= map.description %></p>
            <div class="btn-group">
                <button class="btn"><a href="/maps/<%= map._id %>/edit">Edit Map</a></button>
                <button class="btn"><a href="/maps/">Back</a></button>
            </div>
        </section>
    </div>
</div>

</body>
</html>
<!-- <form action="/maps/<%= map._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Map" />
</form> -->