<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <div class="new-form">
                    <form action="/monsters/<%= monster._id %>?_method=PUT" method="POST">
                        <label>Image URL: </label><input type="text" name="img" value="<%= monster.img %>" /><br />
                        <label>Monster Name: </label><input type="text" name="name" value="<%= monster.name %>" /><br />
                        <label>Description: </label><textarea name="description" cols="30" rows="10"><%= monster.description %></textarea><br />
                        <label>Type: </label><input type="text" name="type" value="<%= monster.type %>" /><br />
                        <label>Alignment: </label><input type="text" name="almt" value="<%= monster.almt %>" /><br />
                        <label>Armor Class: </label><input type="text" name="armcls" value="<%= monster.armcls %>" /><br />
                        <label>Hit Points: </label><input type="text" name="hitpts" value="<%= monster.hitpts %>" /><br />
                        <label>Speed: </label><input type="number" name="speed" value="<%= monster.speed %>" /><br />
                        <label>Skills: </label><input type="text" name="skills" value="<%= monster.skills %>" /><br />
                        <label>Damage Resistences: </label><input type="text" name="dmgrst" value="<%= monster.dmgrst %>" /><br />
                        <label>Damage Vulnerabilities: </label><input type="text" name="dmgvul" value="<%= monster.dmgvul %>" /><br />
                        <label>Actions and Abilities: </label><textarea name="actions" cols="30" rows="10"><%= monster.actions %></textarea><br />
                        <label>Stats: </label><input type="text" placeholder="STR" name="str" value="<%= monster.str %>" />
                        <input type="text" placeholder="DEX" name="dex" value="<%= monster.dex %>" />
                        <input type="text" placeholder="CON" name="con" value="<%= monster.con %>" />
                        <input type="text" placeholder="INT" name="int" value="<%= monster.int %>" />
                        <input type="text" placeholder="WIS" name="wis" value="<%= monster.wis %>" />
                        <input type="text" placeholder="CHA" name="cha" value="<%= monster.cha %>" /><br />
                        <input type="submit" value="Update Monster" />
                    </form>
                </div>
            </div>
        </div>

</body>

</html>