<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/styles.ejs") %>

        <div class="full-page">
            <header>
                <%- include("../partials/header.ejs") %>
            </header>
            <div class="shell">
                <section><img class="showimg" src=<%=monster.img %>></section>
                <table class="table table-bordered">
                    <tr>
                        <td>STR: <%= monster.str %></td>
                        <td>DEX: <%= monster.dex %></td>
                        <td>CON: <%= monster.con %></td>
                        <td>INT: <%= monster.int %></td>
                        <td>WIS: <%= monster.wis %></td>
                        <td>CHA: <%= monster.cha %></td>
                    </tr>
                </table>
                <section>
                <h3><%= monster.name %></h3>
                    <ul>
                        <li><%= monster.almt %> <%= monster.type %></li>
                        <li>Armor Class: <%= monster.armcls %></li>
                        <li>Hit Points: <%= monster.hitpts %></li>
                        <li>Speed: <%= monster.speed %></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Skills: <%= monster.skills %></li>
                        <li>Resistences: <%= monster.dmgrst %></li>
                        <li>Vulnerabilities: <%= monster.dmgvul %></li>
                    </ul>
                    <p>
                        Languages: <%= monster.lang %>
                    </p>
                    <p>
                        <%= monster.description %>
                    </p>
                    <p>
                        Actions: <%= monster.actions %>
                    </p>
                </section>
                <section>
                    <div class="btn-group">
                        <button class="btn"><a href="/monsters/<%= monster._id %>/edit">Edit Monster</a></button>
                        <button class="btn"><a href="/monsters">Back</a></button>
                    </div>
                </section>
            </div>
        </div>

</body>

</html>